:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #f9bcff;
  transition: background-color 2.0s;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
body {
  font-family: 'VT323', monospace;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 1000px;
  max-width: 1000px;
  width: 100%;
  min-height: 10vh;
  white-space: normal;
  word-break: normal;
  overflow-wrap: break-word;
}

h1 {
  font-size: 3.5em;
  line-height: 0.0;
  white-space: normal;
  word-break: normal;
  overflow-wrap: break-word;
}
h2 {
  font-size: 1.5em;
  line-height: 0.0;
  white-space: normal;
  word-break: normal;
  overflow-wrap: break-word;
}
button {
  border-radius: 0px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e22727;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff63;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

